[Desktop Entry]
Type=Application
Name=DNA Seq Analyser
Comment=Simple DNA sequence analysis tool
Exec=~/.dna-seq-analyser/dna_seq_analyser
Icon=~/.dna-seq-analyser/assets/icon.png
Terminal=false
Categories=Science;Education;
